<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
 	<link rel="stylesheet" href="/assets/css/burger_style.css">
		<title>Burger-O-Rama</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
