
 
 <h1>Eat Them Burgers!</h1>

 <h2>Burgers that are not Devoured</h2>

<ol>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
      {{burger_name}}
      <button class="change-burger" data-id="{{id}}">devour</button>
    </li>
    {{/unless}}
  {{/each}}
</ol>

<h2>Burgers that are devoured!</h2>

<ol>
  {{#each burgers}}
    {{#if devoured}}
      <li>{{burger_name}}</li>
    {{/if}}
  {{/each}}
</ol>

<h2>Add a Burger</h2>
<form class="create-form">
    <label for="bgr">Burger Name:</label>
    <input type="text" id="bgr" name="burger_name" value={{ this.id }}>
  <button type="submit">Add Burger</button>
</form>



 